.input {
  display: flex;

  width: 80%;

  padding: 15px 15px;

  font-size: 18px;
  font-weight: 500;
  line-height: 24px;

  color: var(--black);

  border: 1px solid var(--black);
  background-color: transparent;
}

.input:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.input::placeholder {
  color: var(--black);

  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

@media screen and (min-width: 768px) {
  .input {
    width: 75%;
  }
}

@media screen and (min-width: 1200px) {
  .input {
    width: 50%;
  }
}
